{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Products{% endblock %}</h1>
    {% if g.user %}
        <a class="action" href="{{ url_for('products.add') }}">Add New</a>
    {% endif %}
{% endblock %}

{% block content %}
    {% for product in products %}
        <article class="product">
            <header>
                <div>
                    <h1>{{ product['title'] }}</h1>
                <div>
                {% if g.user %}
                    <a class="action" href="{{ url_for('products.update', id=product['id']) }}">
                        Edit
                    </a>
                {% endif %}
            </header>
            <p class="detail">{{ product['detail'] }}</p>
        </article>
        {% if not loop.last %}
            <hr>
        {% endif %}
    {% endfor %}
{% endblock %}