
/* NavDropdown overrides for dark theme */

.nav-item .dropdown-menu {
  background: #212529;
}

.nav-item .dropdown-item {
  color: rgba(255,255,255,.55);
}

.nav-item .dropdown-item:hover {
  color: rgba(255,255,255,.75);
  background: #212529;
}